<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<session-factory>
 <property name="hibernate.connection.Driver_class">com.mysql.cj.jdbc.Driver</property>
 <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/schoolmanagement</property>
<property name="hibernate.connection.user">root</property>
<property name="hibernate.connection.password">Excellence@2024</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.show_sql">true</property>
<property name="hibernate.hbm2ddl.auto">update</property>
<mapping class="com.schoolmgmt.entity.Classes"/>
<mapping class="com.schoolmgmt.entity.Teachers"/>
<mapping class="com.schoolmgmt.entity.Students"/>
<mapping class="com.schoolmgmt.entity.Subjects"/>
<mapping class="com.schoolmgmt.entity.Parents"/>
<mapping class="com.schoolmgmt.entity.Grades"/>
<mapping class="com.schoolmgmt.entity.Attendance"/>

</session-factory>
</hibernate-configuration>